<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>N</key>
	<string>LW_RW_BW_BO_WH_</string>
	<key>NW</key>
	<string>RW_BW_BO_LW_WH_</string>
	<key>W</key>
	<string>RW_BW_BO_LW_WH_</string>
	<key>SW</key>
	<string>RW_BO_WH_LW_BW_</string>
	<key>S</key>
	<string>LW_RW_BO_WH_BW_</string>
	<key>SE</key>
	<string>LW_BO_WH_RW_BW_</string>
	<key>E</key>
	<string>LW_BW_BO_RW_WH_</string>
	<key>NE</key>
	<string>LW_BW_BO_RW_WH_</string>
</dict>
</plist>
