<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>N</key>
	<string>TW_SP_BW_CO_BO_WH_BU_</string>
	<key>NW</key>
	<string>TW_BP_BW_CO_BO_BL_FL_WH_BU_</string>
	<key>W</key>
	<string>TW_SP_BW_CO_BU_BO_BL_FL_WH_</string>
	<key>SW</key>
	<string>TW_BU_CO_BO_FL_BL_WH_SP_BW_</string>
	<key>S</key>
	<string>TW_BU_CO_BO_WH_SP_BW_</string>
	<key>SE</key>
	<string>TW_BU_CO_BO_FR_BR_WH_SP_BW_</string>
	<key>E</key>
	<string>TW_SP_BW_CO_BU_BO_BR_FR_WH_</string>
	<key>NE</key>
	<string>TW_SP_BW_CO_BO_BR_FR_WH_BU_</string>
</dict>
</plist>
