<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BO</key>
	<string>jeep</string>
	<key>TW</key>
	<string>machinegun</string>
	<key>SP</key>
	<string>transparent</string>
	<key>BW</key>
	<string>transparent</string>
	<key>CO</key>
	<string>transparent</string>
	<key>RW</key>
	<string>machinegun</string>
	<key>LW</key>
	<string>machinegun</string>
	<key>BR</key>
	<string>disk</string>
	<key>FR</key>
	<string>disk</string>
	<key>BL</key>
	<string>disk</string>
	<key>FL</key>
	<string>disk</string>
	<key>WH</key>
	<string>wheels</string>
	<key>BU</key>
	<string>transparent</string>
	<key>BP</key>
	<string>transparent</string>
</dict>
</plist>
