<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>profile_template</key>
	<dict>
		<key>Name</key>
		<string></string>
	</dict>
	<key>profile0</key>
	<dict>
		<key>Name</key>
		<string>Player1</string>
	</dict>
	<key>profile1</key>
	<dict>
		<key>Name</key>
		<string>Player2</string>
	</dict>
</dict>
</plist>
